[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/vimya"]
	path = bundle/vimya
	url = https://github.com/vim-scripts/Vimya.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
